.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  border-right: 2px solid;
}

.treeRoot {
  height: 100%;
}

.draggingSource {
  opacity: 0.3;
}

.placeholderContainer {
  position: relative;
}

.dropTarget {
  background-color: #e8f0fe;
}
