.container {
  position: absolute;
  top: 0;
  left: 25%;
  right: 0;
  bottom: 0;
  background-color: #efefef;
}

.selected {
  animation: pulsate 1s linear infinite;
}

.hovered {
  box-shadow: 0 0 10px #777;
}

@keyframes pulsate {
  from { box-shadow: 0 0 8px #3266CB; }
  50% { box-shadow: 0 0 4px #3266CB; }
  to { box-shadow: 0 0 8px #3266CB; }
}